.App {
  text-align: center;
}

.rounded {
  background-color: whitesmoke;
}

.homepage_background {
  height: 100vh;
  background: url('./images/garrett-parker-247225.jpg')
              no-repeat center center;
  background-size: cover;
}

.homepage_background_2 {
  height: 100vh;
  background: url('./images/glenn-carstens-peters-190592.jpg')
              no-repeat center center;
  background-size: cover;
}

.homepage_background_3 {
  height: 100vh;
  background: url('./images/jonathan-klok-379720.jpg')
              no-repeat center center;
  background-size: cover;
}

.homepage_background_4 {
  height: 100vh;
  background: url('./images/gordon-williams-257623.jpg')
              no-repeat center center;
  background-size: cover;
}

.title {
  color: white;
  display: inline;
}

.nav_link {
  color: white;
}

.display-height {
  height: 100vh;
}

.search-height {
  height: 34.375em;
}

.shadows {
  text-shadow: 0.2em;
}

.checklist-height {
  height: 15em; 
}

.flipkey-height {
  height: 9.375em;
}

.footer-email {
  height: 3em;
}

.vertical {
  border-left: 1px solid #000;
  height: 9.375em;
}

.footer-background {
  background-color: lightgrey;
}